.box {
  width: 100%;
  height: 440px;
  border: 0.5px solid #e3e3e3;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.box:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  transition: 0.3s all;
}

.box .slide-img {
  height: 300px;
}

.box .slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  box-sizing: border-box;
}

.detail-box .type {
  display: flex;
  flex-direction: column;
}

.detail-box .type a {
  color: #747e86;
  margin: 5px 0px;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

.detail-box .type span,
.price,
.likes {
  color: #353840;
  font-weight: 600;
}

.iconWrapper a.buy {
  color: "blue";
  text-decoration: none;
}

.detail-box .likes {
  display: flex;
}

.detail-box .likes svg {
  margin: 0px 0.5em;
  cursor: pointer;
}

.detail-box .likes svg:hover {
  color: red;
}
