@media screen and (max-width: 820px) {

  .hero{
    min-width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 15vh;
  }

  .titulo {
    width: 100%;
    text-align: center;
  }

  .titulo h1 {
    font-weight: 900;
    font-size: 40px;
    color: #04111d;
    margin: 0px 1em 0px 1em;
  }

  .titulo p {
    font-size: 1.2em;
    margin: 1em 1em;
  } 

  #collection .collection-container {
    grid-template-columns: repeat(3, 1fr);
    margin: 48px 16px;
  }

  #collection .text-container {
    margin: 48px 16px;
  }
}

@media screen and (max-width: 575.98px) {
  #collection .collection-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 16px;
  }
}
